/* colors */
$color-principal: #FFE600;
$color-default: #FFF;
$color-hr: #F2F2F2;
$color-container: #ebebeb;
$color-links: #3483FA;
$color-error: #C10000;
$color-loading: #666666;
$color-icon: #EAEAEA;

/* fonts */
$font-family: 'Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif';

/* borders */
$border-radius: 4px;